{%  extends "core/base.html" %}
{% block main_content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">
                <header>{{ post.author }}: {{ post.title }} </header>
            </h1>
        </div>
        <div class="panel-body">
            <article>{{ post.text }}</article>
        </div>
    </div>

{% endblock %}


{% block additional_content %}

    <h2> Comments:</h2>

    {% for comment in post.comment_set.all %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <header> {{ comment.author }} </header>
                </h1>
            </div>
            <div class="panel-body">
                <article> {{ comment.text }} </article>
            </div>
        </div>

    {%  endfor %}

    <form action="{% url "post:singlepost" pk=post.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>

{% endblock %}
